dl {
  align-items: end;
  margin: 0;

  dd {
    font-variant-numeric: tabular-nums;
  }
}

dl .price {
  text-align: right;

  dd {
    font-family: var(--font-mono);
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--fg);
  }
}
